

/* Estilos para el contenedor principal */
#login {
    width: 450px; /* Aumentar el ancho del formulario */
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    text-align: center;
}

/* Estilos para la imagen del icono */
#login img {
    display: block;
    margin: 0 auto 20px;
    height: 100px; /* Ajustar el tamaño según sea necesario */
}

/* Estilos para las etiquetas de los campos de entrada */
#login label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em; /* Ajustar el tamaño de fuente */
    color: #333;
}

/* Estilos para los campos de entrada */
#login input[type="text"],
#login input[type="password"] {
    width: 100%;
    padding: 10px; /* Ajustar el padding */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir el relleno y el borde en el tamaño total */
    font-size: 1em; /* Ajustar el tamaño de fuente */
}

/* Estilos para el botón de envío */
#login input[type="submit"] {
    width: 100%;
    padding: 12px; /* Ajustar el padding */
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    font-size: 1.2em; /* Ajustar el tamaño de fuente */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el área de mensaje */
.mensaje {
    display: block;
    margin-bottom: 15px;
    color: red;
    font-size: 1em; /* Ajustar el tamaño de fuente */
}

/* Estilos para el enlace de recuperación de contraseña */
.enlace {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.enlace a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1em; /* Ajustar el tamaño de fuente */
}

.enlace a:hover {
    text-decoration: underline;
}

/* Fondo de video cubre toda la pantalla */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el botón "Invitado" */
#login .invitado-button {
    margin-top: 20px; /* Agregar margen superior para separar del botón "Ingresar" */
}

/* Estilos para el botón "Ingresar" */
#login button {
    width: 100%;
    padding: 12px; /* Ajustar el padding */
    border: none;
    border-radius: 4px;
    background-color: #ffdf7e; /* Color de fondo del botón "Ingresar" */
    color: black;
    font-size: 1.2em; /* Ajustar el tamaño de fuente */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

#login button:hover {
    background-color: #ffdf7e; /* Color de fondo del botón "Ingresar" al pasar el mouse */
}
