body {
    width: 240%; /* Puedes ajustar este valor según tus preferencias */
    margin: 0 auto; /* Centrar el cuerpo horizontalmente */
    max-width: 2000px; /* Ancho máximo para mantener el diseño responsivo */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

input[type="email"], input[type="checkbox"], button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] + label {
    display: inline-block;
    margin-left: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
