/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: #333;
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para los botones */
button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para los textos de ayuda */
p {
    color: #666;
}

/* Estilos para los títulos de sección */
h2 {
    color: #333;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Puedes ajustar el tamaño según tus preferencias */
}


/* Estilos para los radios y checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos para la imagen del logo */
img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    height: auto;
}

/* Estilos para la información de contacto */
.informacion {
    font-size: 16px;
    color: #555;
}

/* Estilos para el campo "Monto Reclamado" */
#monto-reclamado {
    font-weight: bold;
    font-size: 16px;
}

/* Estilos para el campo "Acciones tomadas por la empresa" */
#acciones-empresa {
    font-size: 16px;
    color: #777;
}
